/* Color scheme: http://www.colourco.de/monochrome-dark/5/%23fe9c16 : http://www.colourco.de/complement/5/%23fe9c16 */
/* I will never be able to explain this, its CSS. Oh and if you are wondering about the -webkit- , -moz- etc. its the vendor prefixes for non-standard css properties, so it works on other browsers. */

body {
    padding-top: 30px;
    background-color: transparent;
}

.back {
    background: url('../img/LoginSignup.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-filter: grayscale(20%) blur(7px);
    -moz-filter: grayscale(20%) blur(7px);
    -o-filter: grayscale(20%) blur(7px);
    -ms-filter: grayscale(20%) blur(7px);
    filter: grayscale(20%) blur(7px);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    overflow: hidden;
}

.panel-login {
    margin-top: 30px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #fca731;
    font-size: 18px;
}

.panel-login>.panel-heading a.active2 {
    color: #0f6ff2;
    font-size: 18px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #f69005;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #fca731;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #fca731;
    border-color: #fca731;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #646464;
}

.btn-register {
    background-color: #106ae4;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #0f6ff2;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #0f6ff2;
    border-color: #0f6ff2;
}